/* Teal 50#E0F2F1

100#B2DFDB

200#80CBC4

300#4DB6AC

400#26A69A

500#26A69A

600#00897B

700#00796B

800#00695C

900#004D40

A100#A7FFEB

A200#64FFDA

A400#1DE9B6

A700#00BFA5 */



body {
    background-color: #4DB6AC;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #26A69A
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #26A69A
}
